@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
.btn{
    background-size:contain;
    background-repeat: no-repeat;
}
.btn:hover {
    cursor: pointer;
}

.btn_next {
    background-image: url("../public/media/next.png");
}

.btn_previous {
    background-image: url("../public/media/previous.png");
}

.btn_remove {
    background-image: url("../public/media/remove.png");
}